/*
Color Scheme:
	White  (255, 255, 255)
	Grey   (128, 128, 128)
	Blue   (64,  128, 255)
	Purple (96,  0,   192)
*/
@font-face {
	font-family: "AndaleMonoServer";
	src: url("AndaleMono.woff2") format("woff2");
	font-display: swap;
}
body {
	background-color: RGB(255,255,255);
	cursor: url("cursorNormal.png") 0 0, default;
}
body * {
	margin: 0;
	padding: 0;
}
body *::selection {
	background-color: RGBA(255,255,255,0);
}
p, h1, h2, h3, h4, h5, h6, button, input, textarea {
	font-family: "AndaleMonoServer", "Andale Mono", "Arial", sans-serif;
}
.blueText {
	color: RGB(64,128,255);
}
.purpleText {
	color: RGB(96,0,192);
}
.whiteText {
	color: RGB(255,255,255);
}
.blueText::selection {
	background-color: RGB(96,0,192);
}
.purpleText::selection {
	background-color: RGB(64,128,255);
}
.whiteText::selection {
	background-color: RGB(64,128,255);
}
.interaction {
	cursor: url("cursorInteraction.png") 0 0, pointer;
}
.toggleButton {
	background-color: RGB(255,255,255);
	border-radius: 0;
	border-style: solid;
	border-color: RGB(64,128,255);
}
.toggleButton::before {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: RGB(64,128,255);
}
.toggleButton[data-toggle="0"]::before {
	left: 0;
	background-color: RGB(64,128,255);
}
.toggleButton[data-toggle="1"]::before {
	right: 0;
	background-color: RGB(96,0,192);
}
.banner {
	width: 100vw;
	position: fixed;
	left: 0;
	background-color: RGB(64,128,255);
}
#header {
	top: 0;
	height: 10vh;
}
#footer {
	bottom: 0;
	height: 5vh;
}
#headerLogo {
	height: inherit;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	background-color: RGB(255,255,255);
}
