#navbar {
	height: 5vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(135deg, RGB(192,0,0), RGB(128,0,0)), repeat-x 0 / auto 100% url("resources/stripe.svg");
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	flex: auto;
	border-bottom: 0.5vh solid RGB(192,192,192);
}
#navbar > img, nav > a {
	
}
#navbar > img {
	background-color: RGB(255,0,0);
}
#navbar > a {
	color: RGB(192,192,192);
	font-family: "Arial", sans-serif;
	font-size: min(2.5vh, 3vw);
	text-decoration: none;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
@keyframes anchorHover {
	from {
		color: RGB(192,192,192);
	}
	to {
		color: RGB(255,255,255);
	}
}
@keyframes anchorClick {
	from {
		color: RGB(255,255,255);
	}
	to {
		color: RGB(128,128,128);
	}
}
#navbar > a:hover {
	animation-name: anchorHover;
	animation-play-state: running;
	animation-duration: 0.2s;
}
#navbar > a:active {
	animation-name: anchorClick;
	animation-play-state: running;
	animation-duration: 0.4s;
}
